<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngIf="algorithms">
      <app-algorithm-list [algorithms]="algorithms" (algorithmSelected)="algorithmSelected($event)"></app-algorithm-list>
    </div>

    <div class="col-md-8">
      <div class="col">

        <p>This application designed to convert decimal fraction to nearest binary fraction with a given precision.</p>
        <p>Binary fraction is a fraction with a denominator which is a power of two.</p>
        <p>The number 33.67 is converted into 33 21/32.
        <p>Here the precision is 5 which denotes to power of two in the denominator or 32.</p>

      </div>
      <app-algorithm-detail [algorithm]="selectedAlgorithm" *ngIf="selectedAlgorithm"></app-algorithm-detail>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
